.image-template {
  width: 50%;
  height: 600px;
  background: #0f1720;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #2b3648;
}

.image-template img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
